:host {
  flex: 1 0 0px;
  
  #stashContainer{
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
  
      .stash{
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          overflow-y: auto;
          background-color: #3c3c3c;
  
          &::-webkit-scrollbar {
              width: 10px;
              padding: 0px 4px;
          }
            
            /* Track */
          &::-webkit-scrollbar-track {
              background: #3c3c3c; 
          }
             
            /* Handle */
          &::-webkit-scrollbar-thumb {
              background: #cecece; 
          }
            
            /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
              background: #dfdfdf; 
          }
      }
  }
}
