item{
    display: flex;
    position: absolute;
    background-color: rgba(155, 155, 155, 0.356);
    border: 1px solid rgba(200,200,200,0.2);
    align-items: center;
}

.stack{
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
}
img{
    object-fit: contain;
}